<body class="index" id="to-top">


    <!-- Jumbotron -->
    <header class="jumbotron" role="banner">

      <div class="container">

        <div class="row">

          <div class="col-md-12">

            <!-- Logo -->
            <figure class="text-center">
              <a href="./index.html">
                <img class="img-logo" src="images/logo3.png" alt="">
              </a>

            </figure> <!-- /.text-center -->

            <!-- Title -->
            <h1>Shopping Made Easy</h1>

            <!-- Sub title -->
            <p>Find and buy <u>any</u> product available in stock from stores near you!</p>

            <div class="row">

              <div class="col-xs-12">

                <form class="subscribe-form form-inline" action="./index.html" role="form">

                  <!-- Input -->
                  <div class="form-group">

                    <label class="sr-only" for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email address">

                  </div> <!-- /.form-group -->

                  <!-- Button -->
                  <button class="btn btn-success" type="submit">Become a ShopNearby VIP for Free</button>

                </form> <!-- /.subscribe-form -->

              </div> <!-- /.col-md-6 -->

            </div> <!-- /.row -->


          </div> <!-- /.col-md-7 -->

        </div> <!-- /.row -->

      </div> <!-- /.container -->

    </header> <!-- /.jumbotron -->

    <!-- Retailers -->
    <!-- <section class="retailers-section" id="retailers">

      <div class="container">

        <div class="row">

          <div class="col-md-2">

            <figure>
              <img class="img-iPhone margin-top margin-screen-800" src="images/bestbuylogo.png" alt="">
            </figure>

          </div>

      </div>

    </section> -->


    <!-- Services -->
    <section class="services-section" id="section-1">

      <div class="container">

        <div class="row">

          <div class="col-md-4 col-services">

            <!-- Icons -->
            <figure>
              <img class="img-services" src="images/icons/search.png" alt="">
            </figure>

            <!-- Title -->
            <h4>Search</h4>

            <!-- Description -->
            <p>ShopNearby let's you find any product available and then see which stores have it in stock.</p>

          </div> <!-- /.col-md-4 -->

          <div class="col-md-4 col-services">

            <!-- Icons -->
            <figure>
              <img class="img-services" src="images/icons/flag.png" alt="">
            </figure>

            <!-- Title -->
            <h4>Buy</h4>

            <!-- Description -->
            <p>Add all your products from any store into your shopping cart and make your purchase in the app.</p>

          </div> <!-- /.col-md-4 -->

          <div class="col-md-4 col-services">

            <!-- Icons -->
            <figure>
              <img class="img-services img-margin" src="images/icons/world-map.png" alt="">
            </figure>

            <!-- Title -->
            <h4>Pick up</h4>

            <!-- Description -->
            <p>Once your order is ready, you'll get an email from each store to let you know when to pick them up.</p>

          </div> <!-- /.col-md-4 -->

        </div> <!-- /.row -->

      </div> <!-- /.container -->

    </section> <!-- /.services-section -->




    <!-- Features -->
    <section class="features-section" id="section-2">

      <div class="container">

        <div class="row">

        <div class="row media-screen-800">

          <div class="col-md-7 col-features features-content">

            <!-- Title -->
            <h3 id="title-2">One App, Every Retailer</h3>

            <!-- Description -->
            <p>ShopNearby combines every retailers apps so you only have to download one. Whether you're looking for something specific or broad, ShopNearby offers the largest variety of products available at stores near you.</p>

            <!-- <p>
              <a class="btn btn-success" href="./sign-in.html">Sign In</a> &nbsp;
              <a class="btn btn-success-border" href="./sign-up.html">Sign Up</a>
            </p> -->

          </div> <!-- /.col-md-7 -->

          <div class="col-md-5 col-features text-center">

            <!-- Images showcase -->
            <figure>
              <img class="img-iPhone margin-top margin-screen-800" src="images/itemstab.png" alt="">
            </figure>

          </div> <!-- /.col-md-5 -->

        </div> <!-- /.row -->

        <div class="row media-screen-800">

          <div class="col-md-7 col-features features-content">

            <!-- Title -->
            <h3 id="title-2">Convenient and Simple</h3>

            <!-- Description -->
            <p>No more having to wander the store or chase down an associate for help. With ShopNearby you get the real-time access to inventory, price and aisle number for every product at every store.</p>

            <!-- <p>
              <a class="btn btn-success" href="./sign-in.html">Sign In</a> &nbsp;
              <a class="btn btn-success-border" href="./sign-up.html">Sign Up</a>
            </p> -->

          </div> <!-- /.col-md-7 -->

          <div class="col-md-5 col-features text-center">

            <!-- Images showcase -->
            <figure>
              <img class="img-iPhone margin-top margin-screen-800" src="images/itemsdetails.png" alt="">
            </figure>

          </div> <!-- /.col-md-5 -->

        </div> <!-- /.row -->

      </div> <!-- /.container -->

    </section> <!-- /.features-section -->




    <!-- Subscribe -->
    <section class="subscribe-section" id="section-3">

      <div class="container">

        <div class="row">

          <div class="col-md-12">

            <!-- Title -->
            <h2>Join Us!</h2>

            <!-- Subscribe form -->
            <div class="row">

                <div class="col-xs-12">

                  <form class="subscribe-form form-inline" action="./index.html" role="form">

                    <!-- Input -->
                    <div class="form-group">

                      <label class="sr-only" for="exampleInputEmail1">Email address</label>
                      <input type="email" class="form-control" id="email" placeholder="Enter email address">

                    </div> <!-- /.form-group -->

                    <!-- Button -->
                    <button class="btn btn-success" type="submit">Become a ShopNearby VIP for Free</button>

                  </form> <!-- /.subscribe-form -->

                  <section class="subscribe-description">

                    <p>Don't worry. We do not spam :)</p>

                  </section> <!-- /.subscribe-description -->

                </div> <!-- /.col-md-6 -->

              </div> <!-- /.row -->

          </div> <!-- /.col-md-12 -->

        </div> <!-- /.row -->

      </div> <!-- /.container -->

    </section> <!-- /.subscribe-section -->




    <!-- Footer -->
    <footer class="footer-section" role="contentinfo">

      <div class="container">

        <div class="row">

          <div class="col-md-6 col-md-offset-3 col-footer col-padding">

            <!-- Footer 1 -->
            <section class="text-center">
              <p>Follow ShopNearby on Twitter or Facebook</p>
            </section>

            <!-- Social media links -->
            <ul class="social-media-links">

              <li><a class="fa fa-twitter tw" href="https://twitter.com/shopnearbyapp"></a></li>
              <li><a class="fa fa-facebook fb" href="https://facebook.com/shopnearby"></a></li>

            </ul> <!-- /.social-media-links -->

          </div> <!-- /.col-md-4 -->

        </div> <!-- /.row -->

      </div> <!-- /.container -->

    </footer> <!-- /.footer-section -->

    <script>window.jQuery || document.write('<scr' + 'ipt src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"><\/sc' + 'ript>')</script>
    <script>window.$kol_jquery = window.jQuery</script>
    <script src="https://kickoffpages-kickofflabs.netdna-ssl.com/widgets/1.7.0/kol_any_form.js"></script>
    <script src='https://kickoffpages-kickofflabs.netdna-ssl.com/w/59101/78809.js'></script>

  </body>
