<body class="index" id="to-top">

    <!-- Jumbotron -->
    <header class="jumbotron" role="banner">

      <div class="container">

        <div class="row">

          <div class="col-md-12">

            <!-- Logo -->
            <figure class="text-center">
              <a href="./index.html">
                <img class="img-logo" src="images/logo3.png" alt="">
              </a>
            </figure> <!-- /.text-center -->

            <!-- Title -->
            <h1>Shopping Made Easy</h1>

            <!-- Sub title -->
            <p>Find and buy <u>any</u> item available in stock from stores near you!</p>

            <div class="row">

              <div class="col-xs-12">

                <form class="subscribe-form form-inline" action="./index.html" role="form">

                  <!-- Input -->
                  <div class="form-group">

                    <label class="sr-only" for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email address">

                  </div> <!-- /.form-group -->

                  <!-- Button -->
                  <button class="btn btn-success" type="submit">Become a VIP Shopper for Free</button>

                </form> <!-- /.subscribe-form -->

              </div> <!-- /.col-md-6 -->

            </div> <!-- /.row -->


          </div> <!-- /.col-md-7 -->

        </div> <!-- /.row -->

      </div> <!-- /.container -->

    </header> <!-- /.jumbotron -->

    <!-- Footer -->
    <footer class="footer-section" role="contentinfo">

      <div class="container">

        <div class="row">

          <div class="col-md-4 col-md-offset-4 col-footer col-padding">

            <!-- Footer 1 -->
            <section>
              <p>Follow us on Twitter, Facebook or Pinterest</p>
            </section>

            <!-- Social media links -->
            <ul class="social-media-links">

              <li><a class="fa fa-twitter tw" href="#fakelinks"></a></li>
              <li><a class="fa fa-facebook fb" href="#fakelinks"></a></li>
              <li><a class="fa fa-pinterest pn" href="#fakelinks"></a></li>

            </ul> <!-- /.social-media-links -->

          </div> <!-- /.col-md-4 -->

        </div> <!-- /.row -->

      </div> <!-- /.container -->

    </footer> <!-- /.footer-section -->

    <script>window.jQuery || document.write('<scr' + 'ipt src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"><\/sc' + 'ript>')</script>
    <script>window.$kol_jquery = window.jQuery</script>
    <script src="https://kickoffpages-kickofflabs.netdna-ssl.com/widgets/1.7.0/kol_any_form.js"></script>
    <script src='https://kickoffpages-kickofflabs.netdna-ssl.com/w/59101/78809.js'></script>

  </body>
