<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<div id="white-box">
			<h2>Thank You For Joining the Pre-Launch List</h2>
			<p>
				Thank you for joining the InstaBuy prelaunch list. Our goal is to make shopping at your favorite stores easier, faster, and simpler than ever before. We can't make this a reality without you so we really appreciate your early support.
			</p>
			<p>
				Keep a lookout for our email :)
			</p>
			<p>
				Best,<br>
				Omar<br>
				CEO, InstaBuy
			</p>
			<%= link_to "Back to Home Page", root_path, class: "btn-green" %>
		</div>
	</div>
</div>